<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <p>First Name</p><input type="text" name="first_name">
  <p>Last Name</p><input type="text" name="last_name">
  <p>Email</p><input type="text" name="email">
  <p>Note</p><input type="text" name="note">
  <input type="submit" name="Submit">
</form>