body {
	 background-image: url("http://science.psu.edu/alert/photos/research-photos/astro/WrightCurtisr147imgnoax.jpg");
	 background-size: 800px;
}

h1 {
	color: white;
	text-align: center;	
}

div {
	color: #B0B0B0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}


h2 {
	color:white;
	text-align:left;
}